<header>
  <h1>Video Player</h1>
</header>
<main>

  <span class="advice" data-text="eadvice">Advice: this page was a practice, isn't related with a real business and corresponding rights are for original creators of photos, music and images used in the video</span>
      <figure>
        <video
        src="./assets/Secuencia 02-3 1.mp4"
        title="video"
        alt="Video"
        poster="./assets/post.webp"
        preload=""
        #videoC
        (pause)="play.disabled=false;pause.disabled=true;stop.disabled=false;"
        (play)="play.disabled=true;pause.disabled=false;stop.disabled=false;"
        (contextmenu)="falseValue($event)"
        ></video>
      </figure>
      <section class="buttonsSection">

        <button
        #play
        (click)="videoC.play();"
        >
          <span class="ms-Icon ms-Icon--PlaySolid" title="play video"></span>
        </button>

        <button
        #pause
        (click)="videoC.pause();" disabled>
          <span class="ms-Icon ms-Icon--CirclePauseSolid" title="pause video"></span>
        </button>

        <button
        #stop
        (click)="videoC.pause();videoC.currentTime=0;stop.disabled=true;" disabled>
          <span class="ms-Icon ms-Icon--StopSolid" title="stop video"></span>
        </button>

      </section>
</main>

<footer>
  Developed by <a href="https://github.com/EdisMR">@EdisMR</a>
</footer>
